/* estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
      
}

body{
    background-color:#000;
    height: 100vh;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a :hover{
    color:rgb(0, 0, 0);
    transform: scale(2);
}
header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.341);
}

/* estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
    margin: 40px 40px;
}

.topo-do-site h1 span{
    color:blue
}
.topo-do-site p{
    color: antiquewhite;
    margin: 40px 40px;
}

main .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 30;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin: 40px 40px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.341)
    
}
main .btn-contato :hover {
    transform: scale(2.0);
    transition: .1s;
}
main .img-topo-site img{
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:40px; 
    }
}

h2.titulo{
    color: antiquewhite;
    font-size: 28px;
    text-align: center;

}
h2.titulo span{
    color: blue;
}
.especialidades .especialidades-box{
    color: antiquewhite;
    padding: 40px;
    text-align: center;
    align-items: center;
    border: 2px solid #fff;
    margin-top: 45px;
    margin: 80px;
    border-radius: 40px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 16px #fff;
}
.especialidades .especialidades-box i{
   font-size: 40px;
   color: blue;

}
.especialidades .especialidades-box h3{
    font-size: 20px;
    margin: 15px 0px;
}
section.especialidades .flex{
    gap: 60px;
}
section.especialidades{
    padding: 40px;
}
/* estilo do sobre */

section.sobre{
    padding: 40px 4%;
}
.sobre .txt-sobre{
    color: #fff;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre .h2{
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
}
.sobre .txt-sobre h2 span{
    color: blue;
    display: block;

} 
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.sobre .txt-sobre .btn-social button{
   color: black;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: .2s;
}
.sobre .txt-sobre .btn-social button :hover{
    box-shadow: 0 0 64px white;
    transform: scale(1.05);   
}
/* estilo do formulario */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: #373737cf;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
form .btn-enviar input:hover{
    box-shadow: 0 0 16px white;
    transform: scale(1.2);
    transform: scale(.2s);

}